<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.imp.runtime.languageDescription">
      <language extensions="puf" description="PUF example language"
                natureID="ee.cyber.simplicitas.puf" language="puf_lang"/>
   </extension>
   <extension id="puf_lang.parserWrapper"
              name="PUF example language Parser Wrapper"
              point="org.eclipse.imp.runtime.parser">
      <parserWrapper
            class="ee.cyber.simplicitas.puf.PufParseController"
            language="puf_lang"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer class="ee.cyber.simplicitas.puf.PufTokenColorer"
                    language="puf_lang"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.modelTreeBuilder">
      <treeBuilder
            class="ee.cyber.simplicitas.puf.PufTreeModelBuilder"
            language="puf_lang">
      </treeBuilder>
   </extension>
   <extension point="org.eclipse.imp.runtime.labelProvider">
   <labelProvider class="ee.cyber.simplicitas.puf.PufLabelProvider"
   language="puf_lang"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.referenceResolvers">
   <referenceResolver class="ee.cyber.simplicitas.puf.PufReferenceResolver"
   language="puf_lang"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.foldingUpdater">
   <foldingUpdater class="ee.cyber.simplicitas.puf.PufFoldingUpdater"
   language="puf_lang"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.documentationProvider">
   <docProvider class="ee.cyber.simplicitas.puf.PufDocumentationProvider"
   language="puf_lang"/>
   </extension>
   <extension id="puf_lang.hoverHelper"
              name="PUF example language Hover Helper"
              point="org.eclipse.imp.runtime.hoverHelper">
      <hoverHelper class="ee.cyber.simplicitas.imp.HoverHelper"
                 language="puf_lang"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.contentProposer">
      <proposer class="ee.cyber.simplicitas.puf.PufContentProposer"
                language="puf_lang"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.markOccurrences">
      <occurrenceMarker class="ee.cyber.simplicitas.puf.PufOccurrenceMarker"
                        language="puf_lang"/>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
      <page class="ee.cyber.simplicitas.puf.PufPreferencePage"
            id="ee.cyber.simplicitas.puf.PufPreferencePage"
            name="PUF example language Preferences">
      </page>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
      <initializer class="ee.cyber.simplicitas.puf.PufPreferenceInitializer"/>
   </extension>
   
   <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             id="puf_lang.generatorPopUp"
             nameFilter="*.puf"
             objectClass="org.eclipse.core.resources.IFile">
          <action
                class="ee.cyber.simplicitas.puf.PufGenerateAction"
                enablesFor="1"
                id="ee.cyber.simplicitas.puf.PufGenerateAction"
                label="Generate"
                menubarPath="additions"
                tooltip="Generate">
          </action>
       </objectContribution>
    </extension>
</plugin>
