<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="simplicitas.category.wizards"
         name="Simplicitas Wizards"
         point="org.eclipse.ui.newWizards">
      <category
            id="simplicitas.category.wizards"
            name="Simplicitas Wizards">
      </category>
      <wizard
            category="simplicitas.category.wizards"
            class="ee.cyber.simplicitas.eclipse.NewProjectWizard"
            icon="icons/simpl.png"
            id="simplicitas.wizard.new.project"
            name="Simplicitas Project"
            project="true">
      </wizard>
   </extension>

</plugin>
